# Data
data/
_delta_log/

# Spark
spark-warehouse/
derby.log
metastore_db/
.ivy2/

# Python
__pycache__/
*.py[cod]
.venv/

# IDE & OS
.vscode/
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
# Local checks
.pytest_cache/
.ruff_cache/
.coverage
